<?xml version="1.0"?>
<robot xmlns:xacro="http://ww.ros.org/wiki/xacro"
	name="schmalz_cobot_pump">

	<xacro:property name="origin_xyz" value="0.0 0.0 0.0"/>
	<xacro:property name="origin_rpy" value="3.1415 0.0 0.8"/>
	<xacro:macro name="franka_suction" params="path_prefix parent">

		<joint name="vacuum_joint8" type="fixed">
			<parent link="${parent}"/>
			<child link="vacuum"/>
			<origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
		</joint>
		<link name="vacuum">
			<visual>
				<geometry>
					<mesh filename="package://${path_prefix}/robots/common/schmalz_cobot.stl" scale="0.001 0.001 0.001"/>
				</geometry>
			</visual>
			<collision>
				<!-- if too slow change to cylinder -->
				<geometry>
					<mesh filename="package://${path_prefix}/robots/common/schmalz_cobot.stl" scale="0.001 0.001 0.001"/>
                                </geometry>
			</collision>
			<inertial>
				<!-- using cylinder to approximate, change if seems too incorrect -->
				<mass value="0.775"/>
				<inertia ixx="0.0016" ixy="0.0" ixz = "0.0" iyy="0.0016" iyz="0.0" izz="0.0009"/>
			</inertial>
		</link>
		
		<joint name="vacuum_joint9" type="fixed">
			<parent link="vacuum"/>
			<child link="cylinder1"/>
			<origin xyz="${origin_xyz}" rpy="0.0 0.0 0.0" />
		</joint>
		<!-- wider cylinder at base of vacuum -->
		<link name="cylinder1">
			<visual>
				<geometry>
					<cylinder radius="0.025" length="0.0065"/>
				</geometry>
			</visual>
			<collision>
				<geometry>
					<cylinder radius="0.025" length="0.0065"/>
                                </geometry>
			</collision>
		</link>

		<joint name="vacuum_joint10" type="fixed">
                        <parent link="cylinder1"/>
                        <child link="cylinder2"/>
                        <origin xyz="${origin_xyz}" rpy="0.0 0.0 0.0" />
                </joint>
                <!-- thinner small cylinder at base of vacuum attached to the green gripper-->
                <link name="cylinder2">
                        <visual>
                                <geometry>
					<cylinder radius="0.005" length="0.0125"/>
                                </geometry>
                        </visual>
                        <collision>
                                <geometry>
					<cylinder radius="0.005" length="0.0125"/>
                                </geometry>
                        </collision>
                </link>

	</xacro:macro>
</robot>
